<style>body {
    background-image: url('http://uryud.com/assetotron/asseto.png');
    background-repeat: no-repeat;
    background-position: right 140px;
    background-origin: content-box;
  }
	@media only screen and (max-width : 768px) {
		body {
			background-size: 40%;
			background-position: center 350px;
		}
	}</style>

<h4>Asset-O-Tron 0.9b</h4>

<div class="row">
	    <div class="col-md-9 mini">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>

<div class="field">

	<%= f.label :email, class: 'sr-only' %>
	<br />
	<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email adress' %>
</div>

<div class="field">

	<%= f.label :password, class: 'sr-only' %>
	<br />
	<%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
</div> </br>


<div class="actions">
	<%= f.submit "Log in", class:'btn btn-lg btn-primary btn-block' %> </br>
</div>

<% end %>



</div>
</div>
