<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.file_field :picture, id: "up", style: "margin:auto;" %>
  </div>

  <%
    projects = Project.all
  %>

  <div class="field">
    <%= f.label "Insert in existing projects" %><br>
    <%= select_tag "resource[project_ids[]]", options_from_collection_for_select(projects, "id", "name"), multiple: true, size: 2 %>
  </div>

  <div class="actions">
    <button type="button" name="button" onclick="alert('Nice try Dummy! \nUnfortunately this action is not allowed for your user role');">Create new</button>
  </div>
<% end %>
