<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Asset:</strong>
</p>
<p>
  <%= image_tag @resource.url.to_s, width: '70%' %>
</p>

<p>
  <strong>Projects where this asset is  being used:</strong>
  <% for project in @resource.project %>
    <ul>
      <li><%=project.name%></li>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
