<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Asset:</strong>
</p>
<p>
  <%= image_tag @resource.url.to_s, width: '50%' %>
</p>

<p>
  <strong>Projects where this asset is  being used:</strong>
  <% for project in @resource.project %>
    <ul>
      <li><%=project.name%></li>
    </ul>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <% for comment in @resource.comments %>
    <li>
      <p><%= comment.author %> said: <%= comment.comment %></p>
    </li>
  <% end %>
</p>
<%# TODO: field class %>
<p>
  <%= form_tag( { controller: "comments", action: "create" }, method: "get") %>
  <%= hidden_field_tag(:id, @resource.id) %>
<div class="field">
      <%= label_tag(:author, "Add a comment: ") %>
</div>
<div class="field">
<%= label_tag(:comment, "Comment: ") %>
  <%= text_field_tag(:comment) %>
</div>
<div class="actions">
  <button type="button" name="button" onclick="alert('Nice try Dummy! \nUnfortunately this action is not allowed for your user role');">Say it</button>
</div>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
