<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%if user_signed_in? %>
      <%= render "nav" %>
      <p>Welcome beloved DUMMY</p>
      <p><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></p>
    <%end%>
  <%= yield %>
  </div>

</body>
</html>
